*.iml
*~
*.swp
*.iml
*.ipr
*.iws
*/production/
*/out
.idea/
gen/
bin/
target/
lint.xml
.settings
.project
.classpath
out
gen-external-apklibs/
classes/
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
